/* CSS Is muscles */
body {
    margin: 0px;
    font-family: Euclidcircularb, sans-serif;
    /* overflow: hidden; */
}


#stunning-logo {
    width: 9%;
    padding: 3px;
}

#topbar {
    /* position: fixed;
    top: 0px; */
    padding: 30px 27px 30px 27px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#nav-flex {
    display: flex;
    justify-content: space-between;
}

.nav-items {
    margin: 25px;
    text-decoration: none;
    color: #C3C2C0;
    font-weight: 700;
}

.nav-items-text {
    /* display: inline-block;
    border-bottom: 1px solid black;
    padding-bottom: 2px; */

}

.nav-items:hover {
    color: #1F1B17;
    text-decoration: underline;
    text-decoration-color: #5E4DC2;
    text-decoration-thickness: 4px;
    text-underline-position: under;
    text-underline-offset: 4px;
    /* display: inline-block;
    border-bottom: 1px solid #5E4DC2;
    padding-bottom: 2px; */
}

#your-account-btn {
    margin: 0px 10px;
    background-color: #FFD8DB;
    color: #5E4DC2;
    font-weight: 700;
    border-radius: 25px;
    padding: 22px 33px;
    border-style: none;
}

#your-account-btn:hover {
    background-color: #5E4DC2;
    color: #fff;
    /* font-size: 1rem; */
    transition: all 1000ms;
}

#main {
    display: flex;
    justify-content: left;
}

#caption-section {
    padding-left: 7%;
}

#caption-heading {
    font-size: 3rem;
}

#caption-dot {
    color: #5243C0;
}

#new-sccount-sectiom {
    display: flex;
    align-items: center;
}

#new-account-btn {
    margin: 0px 17px;
    /* background-color: #5E4DC2; */
    background-color: #5243C0;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 25px;
    padding: 22px 33px;
    border-style: none;
    box-shadow: 0 5px 5px lightgrey;
    transition: all 1000ms;
}

#new-account-btn:hover {
    background-color: #FFD8DB;
    color: #5243C0;
}

.arrow-img {
    margin: 2%;
    box-shadow: 0 2px 2px lightgrey;
    cursor: pointer;
    border-radius: 20px;
}

.arrow-img:hover {
    transform: scale(1.15);
}

#caption-desc {
    font-size: 1.1rem;
    line-height: 1.7rem;
}

#landing-section {
    padding-left: 10%;
    transition: 400ms;
}

#landing-section:hover {
    transform: scale(0.8);
    /* transform: skewX(10deg); */
    transition: 400ms;
}

#user-section {
    display: block;
    /* margin-top: 40px; */
}

.users-data {
    display: flex;
    align-items: center;
    border-radius: 10px;
    /* background-color: #FBFBFB; */
    background-color: #F5F5F5;
    margin: 5% 2%;
    height: 49px;
    font-size: 0.9rem;
    font-weight: 700;
    transition: 400ms;
}

.users-data:hover {
    background-color: white;
    box-shadow: 0 4px 17px rgb(185, 185, 185);
    /* transform: scale(1.05); */
    /* transition: 400ms; */
    /* transform: skewx(3.7deg); */
}

#tick-normal-1 {
    position: relative;
}

#tick-hover-1 {
    position: absolute;
    top: 487px;
    left: 127px;
    display: none;
    /* transition: 400ms; */
    /* transition: all 500ms ease; */
    /* transition-delay: 10s; */
}

#user-data-1:hover #tick-hover-1 {
    display: block;
    /* transform: scale(1.05); */
    /* transition: 400ms; */

    /* transition-delay: 10s; */
    /* delays for 1 second */
    /* -webkit-transition-delay: 1s; */
    /* for Safari & Chrome */

    /* transition: all .4s ease; */
    /* -webkit-transition: all .4s ease; */
    /* transition: all 500ms ease; */
}

#tick-normal-2 {
    position: relative;
}

#tick-hover-2 {
    position: absolute;
    top: 555px;
    left: 127px;
    display: none;
}

#user-data-2:hover #tick-hover-2 {
    display: block;
}

#tick-normal-3 {
    position: relative;
}

#tick-hover-3 {
    position: absolute;
    top: 623px;
    left: 127px;
    display: none;
}

#user-data-3:hover #tick-hover-3 {
    display: block;
}

#tick-normal-4 {
    position: relative;
}

#tick-hover-4 {
    position: absolute;
    top: 694px;
    left: 127px;
    display: none;
}

#user-data-4:hover #tick-hover-4 {
    display: block;
}

.user-pic:hover {
    /* border-image: linear-gradient(45deg, turquoise, greenyellow) 1; */
    transform: scale(1.15);
}

.user-tick,
.team-desc {
    margin: 2px 8px;
}

.team-date {
    color: #B5B4B2;
    padding: 0 20px;
    letter-spacing: -1px;
    width: 60px;
}

.team-date:hover,
.team-desc:hover {
    /* transform: skewX(12deg); */
}

.team-desc {
    width: 150px;
}

.color-candy-bar {
    width: 25px;
    height: 12px;
    margin: 12px;
    border-radius: 6px;
}

.color-candy-bar:hover {
    transform: rotate(90deg);
}

#color-candy-bar-pink {
    background-color: #FED7DA;
}

#color-candy-bar-red {
    background-color: #FD6534;
}

#color-candy-bar-green {
    background-color: #9ED095;
}

#color-candy-bar-yellow {
    background-color: #FFE4A0;
}